// Fill colors
$white       : #FFFFFF;
$ghost       : #FAFAFA;
$snow        : #F9F9F9;
$vapor       : #F6F6F6;
$white-smoke : #F5F5F5;
$silver      : #EFEFEF;
$smoke       : #EEEEEE;
$gainsboro   : #DDDDDD;
$iron        : #CCCCCC;
$base        : #AAAAAA;
$aluminum    : #999999;
$jumbo       : #888888;
$monsoon     : #777777;
$steel       : #666666;
$charcoal    : #555555;
$tuatara     : #444444;
$oil         : #333333;
$jet         : #222222;
$black       : #000000;

$font-stack  : "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-font-stack : Georgia, serif;
$link-color : #d01257;
$link-hover-color : darken($link-color, 12%);
$link-background-color : lighten(#ffcee4, 5%);

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin justify-content($val) {
 -webkit-box-pack: $val;
   -moz-box-pack: $val;
 -ms-flex-pack: $val;
   -webkit-justify-content: $val;
 justify-content: $val;
}
@mixin flex-direction($val) {
 @if $val == column {
   -webkit-box-orient:vertical;
   -ms-box-orient:vertical;
   -moz-box-orient:vertical;
   box-orient:vertical;
   -webkit-box-direction: normal;
     -webkit-flex-direction: column;
     -ms-flex-direction: column;
   flex-direction: column;
 } @else if $val == row-reverse {
   -webkit-box-orient:horizontal;
   -ms-box-orient:horizontal;
   -moz-box-orient:horizontal;
   box-orient:horizontal;
   -webkit-box-direction: reverse;
     -webkit-flex-direction: row-reverse;
     -ms-flex-direction: row-reverse;
   flex-direction: row-reverse;
 } @else {
   -webkit-box-orient:horizontal;
   -ms-box-orient:horizontal;
   -moz-box-orient:horizontal;
   box-orient:horizontal;
   -webkit-box-direction: normal;
     -webkit-flex-direction: row;
     -ms-flex-direction: row;
   flex-direction: row;
 }
}
@mixin align-items($val) {
 -webkit-box-align: $val;
 -moz-box-align: $val;
 -ms-flex-align: $val;
 -webkit-align-items: $val;
 align-items: $val;
}
@mixin flex-wrap($value) {
  -webkit-box-flex-wrap: $value;
  -moz-box-flex-wrap:  $value;
  -webkit-flex-wrap:  $value;
  -ms-flex-wrap:  $value;
  flex-wrap:  $value;
}
@mixin flex($value) {
  -webkit-box-flex: $value;
  -moz-box-flex:  $value;
  -webkit-flex:  $value;
  -ms-flex:  $value;
  flex:  $value;
}
@mixin rounded-corners($radius) {
	-webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color !important;
    -moz-box-shadow:inset $top $left $blur $color !important;
    box-shadow:inset $top $left $blur $color !important;
  } @else {
    -webkit-box-shadow: $top $left $blur $color !important;
    -moz-box-shadow: $top $left $blur $color !important;
    box-shadow: $top $left $blur $color !important;
  }
}
@mixin placeholder-color($color) {
	&::-webkit-input-placeholder {
		color: $color;
	}
	&:-moz-placeholder {
		color:$color;
	}
	&::-moz-placeholder {
		color: $color;
	}
	&:-ms-input-placeholder {
		color:$color;
	}
}
@-webkit-keyframes rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
   from {-moz-transform: rotate(0deg);}
   to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
   from {-o-transform: rotate(0deg);}
   to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}

.body {
  margin:0;
  padding:0;
}
* {
	-webkit-font-smoothing: antialiased;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
}
a {
  text-decoration: none;
}
.spacer {
  @include flex(1);
}
.clear-float {
	&:after {
		content: "";
		display: block;
		clear:both;
    height: 0px;
	}
}
.base-font {
  font: {
    size: 17px;
    weight:400;
    family: $font-stack;
  }
}
.title-font {
  font: {
    size: 46px;
    weight:600;
    family: $font-stack;
  }
  color: $oil;
}
.description-font {
  font: {
    size: 18px;
    weight:400;
    family: $font-stack;
  }
  color: $oil;
}
.body-font {
  font: {
    size: 18px;
    weight:400;
    family: $body-font-stack;
  }
  color: $oil;
}
.contenteditable {
  outline: none;
}
.link {
  &:hover {
    cursor: pointer;
  }
}
.grey-link {
  color:$monsoon !important;

  &:hover {
    color: $oil !important;
  }
}
.non-border-link {
  @extend .base-font;
  @extend .link;
  color: $link-color;
  outline: none;
  border:none;
  background: none;

  &:hover {
    color: $link-hover-color;
  }
}
.black-non-border-link {
  @extend .base-font;
  @extend .link;
  color: $oil;
  outline: none;
  border:none;
  background: none;

  &:hover {
    color: black;
  }
}
.border-link {
  @extend .base-font;
  @extend .link;
  border: 1px solid $link-color;
  color: $link-color;
  padding: 7px 17px;
  @include rounded-corners(5px);

  &:hover {
    cursor: pointer;
    color: $link-hover-color;
    border-color: $link-hover-color;
  }
}
.fill-link {
  @extend .base-font;
  @extend .link;
  background-color: $link-color;
  color: white;
  padding: 7px 17px;
  @include rounded-corners(6px);
  font-weight: 500;
  outline: none;
  border:none;

  &:hover {
    background-color: $link-hover-color;
  }
}
.margin-button {
  margin-right: 15px;
}
body, html {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
#container {
  padding-top: 70px;
  overflow-y: auto;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
.loading-overlay {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index: 1000;
  background-color: rgba(255,255,255,0.7);
}
.page-header {
  margin: 0 auto;
  max-width: 950px;
  width:75%;

  .border-container {
    width:100%;
    padding: 25px 0;
    border-bottom: 1px solid $silver;
  }

  input {
    width:100%;
    font: {
      size: 22px;
      weight:400;
      family: $font-stack;
    }
    outline: none;
    border:none;
    margin:0;
    padding: 0;
    color: $oil;
    @include placeholder-color($base);
  }
  .header-text {
    font: {
      size: 22px;
      weight:600;
      family: $font-stack;
    }
    color: $oil;
  }
}
.recipe-list {
  left:0;
  right:0;
  margin: 0 auto;
  max-width: 950px;
  width:75%;
  padding-bottom: 100px;

  .empty-notice {
    margin: 25px 0;
    @extend .base-font;
    color: $jumbo;
  }

  .loading-icon {
    margin: 25px 0;
    height:20px;
    width:20px;
    -webkit-animation: rotation 0.4s infinite linear;
    -moz-animation: rotation 0.4s infinite linear;
    -o-animation: rotation 0.4s infinite linear;
    animation: rotation 0.4s infinite linear;
    border:4px solid transparent;
    border-radius:100%;

    &:before {
      content:"";
      display:block;
      position:absolute;
      left:-4px;
      top:-4px;
      height:100%;
      width:100%;
      border-top:4px solid $oil;
      border-left:4px solid $oil;
      border-bottom:4px solid transparent;
      border-right:4px solid transparent;
      border-radius:100%;
    }
  }

  .recipe-container {
    border-bottom: 1px solid $silver;
    padding: 27px 0;

    &:hover {
      cursor: pointer;
    }

    .recipe-title {
      font: {
        size: 22px;
        weight:600;
        family: $font-stack;
      }
      color: $oil;
      margin-bottom: 6px;
    }
    .recipe-description {
      font: {
        size: 16px;
        weight:400;
        family: $body-font-stack;
      }
      line-height: 1.3em;
      color: $jumbo;
      margin-bottom: 10px;
      max-height: 2.6em;
      overflow: hidden;
    }
    .recipe-people {
      font: {
        size: 14px;
        weight:400;
        family: $font-stack;
      }
      color: $jumbo;
      .user-avatar {
        display: inline;
      }
    }
  }
}
.header-bar {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  z-index: 700;
  height:90px;
  background-image: white;
  background-image: linear-gradient(white, transparent);

  .centering {
    left: 0;
    right:0;
    width: 75%;
    max-width: 950px;
    height: 70px;
    margin: 0 auto;
    @include flexbox();
    @include align-items(center);
    position: relative;
  }

  .logo-container {
    z-index: 1;
    text-align: center;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);

    .site-nav-logo {
      height: 35px;
    }
  }
  div:not(.logo-container) {
    z-index: 2;
  }
  .login-wrapper, .editor-buttons-wrapper {
    @include flexbox();
    @include align-items(center);

    .save-state {
      @extend .base-font;
      font-size: 15px !important;
      color: $aluminum;
      margin-right:15px;
    }
    .publish-button-dropdown .dropdown {
      width:300px;
      right:0;
    }
    .cannot-publish-notice {
      @extend  .base-font;
      color:$oil;
      padding: 15px;
    }
  }
  .user-avatar {
    @extend .base-font;
    @extend .link;
    color: $oil;
    height:30px;
    padding-top: 6px;

    &:hover {
      color: $oil;
    }
  }
}
#modal-root {
  position: fixed;
  left:0;
  top:0;
  height:0;
  width:0;

  .modal-screen {
    z-index: 600;
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    min-height: 100%;
    padding: 30px 0;
    background-color: white;
    @include flexbox();
    @include align-items(center);
    @include flex-direction(column);
    overflow-y: auto;

    &.centered {
      @include justify-content(center);
    }
  }
  .loading-screen {
    z-index: 800;
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color: rgba(255,255,255,0.6);
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);

    .spinner {
      position: relative;
      height:16px;
      width:16px;
      -webkit-animation: rotation 0.7s infinite linear;
      -moz-animation: rotation 0.7s infinite linear;
      -o-animation: rotation 0.7s infinite linear;
      animation: rotation 0.7s infinite linear;
      border:3px solid transparent;
      border-radius:100%;

      &:before {
        content:"";
        display:block;
        position:absolute;
        left:-3px;
        top:-3px;
        height:100%;
        width:100%;
        border-top:3px solid $oil;
        border-left:3px solid $oil;
        border-bottom:3px solid transparent;
        border-right:3px solid transparent;
        border-radius:100%;
      }
    }
  }
}
.form-header {
  font: {
    size: 30px;
    weight:500;
    family:$font-stack;
  }
  color:black;
  margin: 1.5em;
  text-align: center;
}
.account-form {

  .form-input-wrapper {
    margin-bottom: 23px;
    position: relative;
  }
  input:active + label, input:focus + label, label.up {
    top: -17px;
    font-size: 13px;
  }
  .errors {
    position: absolute;
    left: 50%;
    top:0px;
    width:0px;
    overflow: visible;
    @include flexbox();
    @include align-items(center);
    @include flex-direction(column);

    &:before {
      @include rounded-corners(3px);
      color: #9F6000;
      background-color: #FEEFB3;
      @extend .base-font;
      padding: 4px 8px;
      position: absolute;
      bottom: 6px;
      white-space: nowrap;
      content: attr(error);
    }
    &:after {
      border: solid;
	    border-color: #FEEFB3 transparent;
	    border-width: 6px 6px 0 6px;
      position: absolute;
      bottom: 0;
	    content: "";
	    z-index: 99;
    }
  }

  label {
    @extend .base-font;
    font-size: 18px;
    color: lighten(#d01257, 9%);
    position: absolute;
    left:20px;
    top:14px;
    transition: all .2s ease-in-out;
    pointer-events: none;
  }

  input {
    width:340px;
    @extend .base-font;
    padding: 14px 20px;
    @include rounded-corners(7px);
    border:none;
    outline: none;
    font-size: 18px;

    &[type='submit'] {
      @extend .fill-link;
      height:45px;
      font-weight: 500 !important;
    }

    &:not([type='submit']) {
      background-color: $link-background-color;
      color: black;

      &:hover {
        background-color: lighten(#ffcee4, 2%);
      }
      &:focus {
        background-color: darken(#ffcee4, 3%);
      }
    }
  }
}
.form-footer-buttons {
  @include flexbox();
  @include align-items(center);
  width: 340px;
  padding: 15px 0;

  span {
    @extend .base-font;
    color:$aluminum;
    margin-right: 6px;
  }
}
.dropdown-container {
  position: relative;
  outline: none;

  .dropdown-button {

  }
  .dropdown {
    min-width: 200px;
    position: absolute;
    top:100%;
    padding: 5px 0;
    background-color: white;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.25), 0 0 1px rgba(0,0,0,.35);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.25), 0 0 1px rgba(0,0,0,.35);
    box-shadow: 0 1px 2px rgba(0,0,0,.25), 0 0 1px rgba(0,0,0,.35);
    @include rounded-corners(4px);


    .dropdown-option {
      text-align: left;
      width:100%;
      min-width: 100%;
      display: block;
      padding: 5px 12px;
      @extend .base-font;
      color:$oil;
      white-space: nowrap;
      outline: none;
      border:none;

      &:hover {
        background-color: $white-smoke;
        color: $oil;
      }

      &.logout-button {
        color:$link-color;

        &:hover {
          background-color: $link-background-color;
          color:$link-hover-color;
        }
      }
    }
  }
}
.page-width {
  margin: 0 auto;
  max-width: 950px;
  width:85%;
}
.recipe-page {
  padding-top: 120px;
  padding-bottom: calc(50vh - 100px);

  .recipe-body {
    @include flexbox();
  }
  .title-container {
    @extend .title-font;
  }
  .description-container {
    @extend .description-font;
    width:75%;
    max-width: 600px;
    left: 0;
    right:0;
    margin: 15px auto 15px auto;
    line-height: 1.45em;
  }
  .person-container {
    margin: 15px auto 70px auto;
    line-height: 1.45em;
    @extend .description-font;
    width:75%;
    max-width: 600px;
    left: 0;
    right:0;
    text-align: center;
    font-size: 16px;

    .user-avatar {
      display: inline;
    }
  }
  .ingredients-section {
    margin-top: 5px;
  }
  .ingredient-container {
    margin-bottom: 6px;
    font-weight: 700 !important;
    font-size: 16px !important;
    padding-left: 1.5em;
  }
  .ingredient-container, .step-container {
    @extend .body-font;
    line-height: 1.45em;
    position: relative;
  }
  .step-container {
    margin-bottom: 15px;

    .step-number {
      position: absolute;
      top: 0;
      left:0;
      font-weight: 700;
    }
    .contenteditable-placeholder, .contenteditable, .step-text {
      padding-left: 30px;
    }
  }
}
.recipe-view {
  .title-container, .description-container {
    text-align: center;
    width: 100%;
  }
  .ingredient-container {
    text-indent: -1.5em;
  }
}
.recipe-editor {
  .contenteditable-container {
    position: relative;
    width:100%;

    .contenteditable {
      position: relative;
      z-index: 1;
    }
    .contenteditable-placeholder {
      z-index: 0;
      color: $base;
      position: absolute;
      top: 0px;
      left: 0px;
    }
  }
  .title-editor, .title-placeholder, .description-editor, .description-placeholder {
    text-align: center;
    width: 100%;
  }
  .ingredient-container .contenteditable {
    text-indent: -1.5em;
  }
  .section {
    margin-bottom: 70px;
  }
  .section-list {
    min-height: 100px;
  }
  .list-item-editor {
    min-height: 20px;
    width: 100%;
  }
  .description-container {
    margin: 15px auto 70px auto;
  }
  .creator-container {
    display: inline;
  }
}
@media only screen and (min-width: 700px ) {
  .recipe-body {
    .ingredients-section {
      margin-right: 8%;
    }
  }
  .steps-section {
    @include flex(3);
    min-width: 400px;
  }
  .ingredients-section {
    @include flex(1);
    max-width: 450px;
    min-width: 280px;
  }
}

@media only screen and (max-width: 700px ) {
  .recipe-body {
    @include flex-direction(column);
  }
  .ingredients-section {
    margin-bottom: 50px;
  }
  .page-header, .recipe-list, .header-bar .centering, .page-width {
    width:100%;
    padding-left:20px;
    padding-right: 20px;
  }
  .header-bar {
    .drafts-link, .new-button {
      display: none;
    }
  }
  .site-nav-logo {
    height:20px !important;
    svg {
      height:21px;
      width: 98px;
    }
  }
}
